*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: aquamarine;
}
.container{
    display: flex;
    justify-content: center;
}
.first{
    background-color:coral;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    background-color: blue;
    width: 10%;
    height: 10%;
}